# Ignore build + cache
**/.next/**
**/dist/**
**/build/**
**/coverage/**
**/node_modules/**
**/.turbo/**

# Ignore config and output
**/*.config.js
**/*.config.cjs
**/*.config.mjs
**/*.config.ts

export default [
  {
    ignores: ["dist/**", "node_modules/**"],
  },
  // your other configs here …
];
